.inputWrapper {
  position: relative;
  input {
    width: 100%;
    padding: 12px 10px;
    border: solid 1px #999;
    font-family: 'Montserrat-Medium';
    &:focus {
      outline: none;
      border: 1px solid #279582;
    }
  }
  .floatingLabel, .fixLabel {
    position: absolute;
    pointer-events: none;
    top: 5px;
    left: 10px;
    font-size: 10px;
    opacity: 0;
    background-color: #fff;
    padding: 0 2px;
    transition: .2s ease-in-out;
    z-index: 2;
  }
  .fixLabel {
    opacity: 1;
    top: -5px;
  }
  input:focus + .floatingLabel {
    opacity: 1;
    top: -5px;
  }
}